<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="siarhei.luskanau.iot.doorbell">

    <application
        android:name="siarhei.luskanau.iot.doorbell.toothpick.AppApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning" />

</manifest>