<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="siarhei.luskanau.iot.doorbell.navigation">

    <application>

        <activity
            android:name="siarhei.luskanau.iot.doorbell.navigation.NavigationActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>