<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="siarhei.luskanau.iot.doorbell.ui">

    <application>

        <activity
            android:name=".PermissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />

    </application>

</manifest>

